/*ABSOLUTE MAX*/
.absolute-max
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;	
}
/*TRANSITIONS*/
.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box-shadow-white
{
	box-shadow: 0px 0px 5px 5px white;
	-moz-box-shadow: 0px 0px 5px 5px white;
	-o-box-shadow: 0px 0px 5px 5px white;
	-webkit-box-shadow: 0px 0px 5px 5px white;
	-ms-box-shadow: 0px 0px 5px 5px white;
}

.box-shadow-black
{
	box-shadow: 0px 0px 5px 5px black;
	-moz-box-shadow: 0px 0px 5px 5px black;
	-o-box-shadow: 0px 0px 5px 5px black;
	-webkit-box-shadow: 0px 0px 5px 5px black;
	-ms-box-shadow: 0px 0px 5px 5px black;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}
.z-six { z-index: 6;} 
.z-seven { z-index: 7;}
.z-eight { z-index: 8;}
.z-nine { z-index: 9;}
.z-ten { z-index: 10;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}


.keep-thinking
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 30%;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

.home-button
{
	width: 13%;
	height: 7%;
	background-color: white;
	border-radius: 20px;
	border: 3px solid black;
	position: absolute;
	left: 82%;
	top: 91%;
	font-family: century gothic;
	font-size: 20%;
	padding: 0.5%;
	text-align: center;
}

.home-button:hover
{
	color: white;
	background-color: black;
}

/*PRE LOAD*/

#pre-load
{
	background-color: #DCDCDC;
}

#pre-load .pre-load-image
{
	background-image: url(../pics/pre-loader.png);
	background-size: auto 100%;
	background-position: 0% 0%;
	width: 0%;
	height: 100%;
	position: absolute;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

/*FRAME 000*/

#frame-000
{
	background-image: url(../pics/s1-bg.png);
}

#frame-000 .menu-button:hover
{
	border-radius: 10%;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.3);
}

.s1-main-button-zagadochnye-cvety{
	background: transparent url('../pics/s1-main-button-zagadochnye-cvety.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 15.25%;
	top: 15.3%;
	width: 24.75%;
	height: 45.6%;
}

.s1-main-button-facty{
	background: transparent url('../pics/s1-main-button-facty.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 38.9%;
	top: 13.1%;
	width: 26.5%;
	height: 46.4%;
}

.s1-main-button-test
{
	background: transparent url('../pics/s1-main-button-test.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 63.55%;
	top: 19.4%;
	width: 20.4%;
	height: 38.3%;
}

.s1-main-button-vyrawivanie-kristallov
{
	background: transparent url('../pics/s1-main-button-vyrawivanie-kristallov.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 24.75%;
	top: 51.2%;
	width: 26.65%;
	height: 45.1%;
}

.s1-main-button-istochniki
{
	background: transparent url('../pics/s1-main-button-istochniki.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 51.4%;
	top: 54.8%;
	width: 21.4%;
	height: 40.5%;
}

/* FRAME 101*/

#frame-101
{
	background-image: url(../pics/s2-bg.png);
}

#frame-101 .text-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	background-size: 100% 100%;
	background-position: 0% 0%;
	background-image: url(../pics/s2-website.png);
}

#frame-101 .flipped
{
	-webkit-transform: rotateY(90deg); /* Safari */
	-moz-transform: rotateY(90deg); /* Standard syntax */
    transform: rotateY(90deg); /* Standard syntax */
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

/* FRAME 102*/

#frame-102
{
	background-image: url(../pics/s2-bg.png);
}

#frame-102 .s2-crystal-glow
{
	background: transparent url('../pics/s2-crystal-glow.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 1.85%;
	top: 3.6%;
	width: 54.7%;
	height: 96.4%;
}

.s2-ionic-crystal
{
	background: transparent url('../pics/s2-ionic-crystal.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 57.2%;
	top: 37.6%;
	width: 31.55%;
	height: 28.9%;
}

.s2-oversaturated-solution
{
	background: transparent url('../pics/s2-oversaturated-solution.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 51.45%;
	top: 37.9%;
	width: 46.35%;
	height: 28.1%;
}

.s2-crystalization
{
	background: transparent url('../pics/s2-crystalization.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 60.2%;
	top: 37.9%;
	width: 29.95%;
	height: 28.1%;
}

.s2-solubility
{
	background: transparent url('../pics/s2-solubility.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 58.45%;
	top: 37.9%;
	width: 27.9%;
	height: 28.1%;
}

/* FRAME 103*/

#frame-103
{
	background-image: url(../pics/s1-bg.png);
}

#frame-103 .instructions
{
	background-image: url(../pics/s3-bg.png);
}

.s3-potassium-permanganat
{
	background: transparent url('../pics/s3-potassium-permanganat.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 57.7%;
	top: 15.8%;
	width: 25.25%;
	height: 51.3%;
}

#frame-103 .s3-nickel-chloride
{
	background: transparent url('../pics/s3-nickel-chloride.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 35.75%;
	top: 18.6%;
	width: 25.55%;
	height: 51.2%;
}

#frame-103 .s3-cuprum-sulfade
{
	background: transparent url('../pics/s3-cuprum-sulfade.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 15.4%;
	top: 14.7%;
	width: 25.55%;
	height: 53.1%;
}

/* FRAME 104*/

#frame-104
{
	background-image: url(../pics/s1-bg.png);
}

#frame-104 .tray
{
	background-image: url(../pics/tray.png);
}

#frame-104 .frame-label
{
	width: 25%;
	height: 8%;
	position: absolute;
	border: 5px solid red;
	border-radius: 20px;
	background-color: #FFD608;
	font-family: century gothic;
	font-size: 27%;
	text-align: center;
	font-weight: bold;
	padding: 1%;
	left: 35%;
	top: 2%;
}

#frame-104 .glass
{
	background-image: url(../pics/glass.png);
	background-size: 500% 100%;
	width: 15%;
	height: 50%;
	position: absolute;
	top: 35%;
	left: 10%;
}

#frame-104 .glass-mix
{
	background-image: url(../pics/glass-mix.png);
	background-size: 600% 100%;
	width: 15%;
	height: 50%;
	position: absolute;
	top: 35%;
	left: 10%;
}

#frame-104 .glass-label
{
	top: 86%;
	left: 10%;
	width: 15%;
}

#frame-104 .petry
{
	background-image: url(../pics/petry.png);
	background-size: 500% 100%;
	width: 20%;
	height: 45%;
	position: absolute;
	top: 30%;
	left: 53%;
}

#frame-104 .petry-label
{
	width: 20%;
	left: 53%;
	top: 76%;
}

#frame-104 .salt-can
{
	background-image: url(../pics/salt-can.png);
	background-size: 100% 100%;
	width: 20%;
	height: 50%;
	position: absolute;
	top: 38%;
	left: 30%;
}

#frame-104 .salt-can-label
{
	width: 20%;
	left: 30%;
	top: 89%;
}

#frame-104 .spoon
{
	background-image: url(../pics/spoon.png);
	background-size: 300% 100%;
	width: 5%;
	height: 55%;
	position: absolute;
	left: 75%;
	top: 10%;
	z-index: 10;
}

#frame-104 .spoon-label
{
	width: 7%;
	left: 74%;
	top: 66%;
}

#frame-104 .thermometer
{
	background-image: url(../pics/thermometer.png);
	background-size: 400% 100%;
	width: 20%;
	height: 40%;
	position: absolute;
	top: 15%;
	left: 30%;
}

#frame-104 .thermometer-label
{
	left: 30%;
	top: 56%;
	width: 20%;
}

#frame-104 .glass-pour
{
	width: 20%;
	height: 40%;
	background-image: url(../pics/glass-pour.png);
	background-size: 300% 100%;
	position: absolute;
	left: 63%;
	top: 20%;
}

#frame-104 .label
{
	border: 5px solid black;
	border-radius: 20px;
	background-color: white;
	font-size: 20%;
	text-align: center;
	font-weight: bold;
	font-family: century gothic;
	padding: 1%;
	height: 7%;
	position: absolute;
	color: black;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#frame-104 .item
{
	border: 5px solid black;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#frame-104 .task
{
	background-color: #32689B;
	width: 25%;
	left: 2%;
	top: 2%;
	height: auto;
	border: 5px solid black;
	border-radius: 20%;
	color: white;
	font-family: century gothic;
	font-size: 25%;
	text-align: center;
	padding: 1%;
	position: absolute;
}

/* FRAME 105*/

#frame-105
{
	background-image: url(../pics/s5-task-bg-1.png);
}

#frame-105 .task-exercise
{
	border: 3px solid black;
	border-radius: 20px;
	background-color: #32689B;
	width: 65%;
	height: 35%;
	position: absolute;
	left: 30%;
	top: 20%;
	font-family: century gothic;
	font-size: 1.1vmax;
	color: white;
	line-height: 180%;
}

#frame-105 .task
{
	width: 100%;
	position: relative;
	height: 20%;
	padding: 2%;
}

#frame-105 .exercise
{
	width: 100%;
	position: relative;
	height: 80%;
	padding: 2%;
}

#frame-105 .ball
{
	width: 20%;
	height: 8%;
	position: absolute;
	background-color: white;
	border: 3px solid black;
	color: black;
	font-family: century gothic;
	font-size: 1.1vmax;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1%;
	border-radius: 20px;
	font-weight: bold;
}

#frame-105 .basket
{
	max-height: 20%;
	min-height: 20%;
	bottom: -1%;
	position: relative;
	border-bottom: 1px solid black;
	color: white;
	font-family: century gothic;
	font-size: 1.1vmax;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5%;
	display: inline-block;
}

#frame-105 .ball.crystal { top: 75%; left: 28%;}
#frame-105 .ball.solution { top: 65%; left: 53%;}
#frame-105 .ball.more { top: 85%; left: 60%;}
#frame-105 .ball.maximum { top: 65%; left: 75%;}
#frame-105 .ball.solvent { top: 65%; left: 30%; }
#frame-105 .ball.oversaturated { top: 75%; left: 72%;}
#frame-105 .ball.exothermic { top: 75%; left: 50%;}

#frame-105 .basket.crystal { min-width: 30%;}
#frame-105 .basket.solution { min-width: 30%;}
#frame-105 .basket.more { min-width: 15%;}
#frame-105 .basket.maximum { min-width: 15%;}
#frame-105 .basket.solvent { min-width: 15%;}
#frame-105 .basket.oversaturated { min-width: 20%;}
#frame-105 .basket.exothermic { min-width: 20%;}

#frame-105 .award, #frame-106 .award, #frame-107 .award, #frame-108 .award, #frame-301 .award
{
	width: 50%;
	height: 50%;
	position: absolute;
	left: 25%;
	top: 25%;
	background-color: black;
	border: 3px solid white;
	border-radius: 20%;
	z-index: 11;
}

#frame-105 .award-text, #frame-106 .award-text, #frame-107 .award-text, #frame-108 .award-text, #frame-301 .award-text
{
	font-family: century gothic;
	font-size: 30%;
	color: white;
	text-align: center;
	width: 100%;
	height: 20%;
	padding: 2%;
}

#frame-105 .award-pic, #frame-106 .award-pic, #frame-107 .award-pic, #frame-108 .award-pic, #frame-301 .award-pic
{
	width: 100%;
	height: 80%;
	background-image: url(../pics/salt.png);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#frame-105 .snowfall, #frame-106 .snowfall, #frame-107 .snowfall, #frame-108 .snowfall, #frame-301 .snowfall
{
	background-image: url(../pics/snow-sprite.png);
	z-index: 12;
}

.salt-container
{
	width: 27%;
	height: 10%;
	left: 63%;
	top: 4%;
	position: absolute;
}

.salt-container .salt
{
	height: 100%;
	width: 15%;
	background-image: url(../pics/salt.png);
	background-size: auto 100%;
	background-position: center;
	float: left;
}

/* FRAME 106*/

#frame-106
{
	background-image: url(../pics/s5-task-bg-2.png);
}

#frame-106 .task
{
	left: 25%;
	top: 18%;
	width: 20.8%;
	height: 8%;
	text-align: center;
	font-size: 21%;
	font-weight: bold;
	position: absolute;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	o-border-radius: 10px;
	ms-border-radius: 10px;
	color: black;
	font-family: Verdana;
	padding: 1%;
}

#frame-106 .chosen
{
	font-weight: bold;
}

#frame-106 .result
{
	left: 25%;
	top: 42%;
	width: 20.8%;
	height: 16%;
	font-family: Verdana;
	font-size: 25%;
	font-weight: bold;
	position: absolute;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	o-border-radius: 10px;
	ms-border-radius: 10px;
	color: white;
	padding: 1%;
	text-align: center;	
}

#frame-106 .result-correct
{
	color: #FFFFFF;
	background-color: #3093c7; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

#frame-106 .result-false
{
	color: #FFFFFF;
	background-color: #a90329; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
	background-image: -moz-linear-gradient(top, #a90329, #6d0019);
	background-image: -ms-linear-gradient(top, #a90329, #6d0019);
	background-image: -o-linear-gradient(top, #a90329, #6d0019);
	background-image: linear-gradient(to bottom, #a90329, #6d0019);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

#frame-106 .check-button
{
	left: 25%;
	top: 30%;
	width: 20.8%;
	height: 8%;
	font-family: Verdana;
	font-size: 25%;
	font-weight: bold;
	position: absolute;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	o-border-radius: 10px;
	ms-border-radius: 10px;
	color: white;
	padding: 1%;
	text-align: center;
	cursor: pointer;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);	
}

#frame-106 .check-button:hover
{
	background: white;
	background-image: -webkit-linear-gradient(top, white, white);
	background-image: -moz-linear-gradient(top, white, white);
	background-image: -ms-linear-gradient(top, white, white);
	background-image: -o-linear-gradient(top, white, white);
	background-image: linear-gradient(to bottom, white, white);
	color: black;
}

#frame-106 .exercise .answer
{
	cursor: pointer;
	padding-left: 1%;
}

#frame-106 .answerfield
{
	border: none;
	border-bottom: 1px solid black;
	line-height: 1.5em;
}

#frame-106 .exercise .answer:hover
{
	font-weight: bold;
}

#frame-106 .exercise
{
	font-size: 23%;
	color: black;
	font-family: Verdana;
	padding: 1%;
	position: absolute;
	border-radius: 10px;
	background-color: white;
	border: 2px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	o-border-radius: 10px;
	ms-border-radius: 10px;
}

/* line 127, ../sass/helper.sass */
#frame-106 .exercise-1 {
  left: 50.35%;
  top: 16%;
  width: 42.8%;
  height: 16%;
}

/* line 130, ../sass/helper.sass */
#frame-106 .exercise-2 {
  left: 50.35%;
  top: 33%;
  width: 42.8%;
  height: 16%;
}

/* line 133, ../sass/helper.sass */
#frame-106 .exercise-3 {
  left: 50.35%;
  top: 50%;
  width: 42.8%;
  height: 16%;
}

/* line 136, ../sass/helper.sass */
#frame-106 .exercise-4 {
  left: 50.35%;
  top: 67%;
  width: 42.8%;
  height: 18%;
}

/* line 136, ../sass/helper.sass */
#frame-106 .exercise-5 {
  left: 50.35%;
  top: 86%;
  width: 42.8%;
  height: 13%;
}

/*FRAME 107*/

#frame-107
{
	background-image: url(../pics/s7-bg.png);
}

#frame-107 .graph-comment
{
	width: 35%;
	height: auto;
	top: 88%;
	left: 1%;
	position: absolute;
	background-color: white;
	font-size: 23%;
	font-family: century gothic;
	border: 3px solid black;
	padding: 1%;
	border-radius: 20px;
}

#frame-107 .task-exercise *
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#frame-107 .task-exercise
{
	width: 55%;
	height: 75%;
	position: absolute;
	left: 40%;
	top: 20%;
	background-color: #1C6487;
	border: 3px solid black;
	border-radius: 20px;
}

#frame-107 .task-exercise .task
{
	width: 100%;
	height: 10%;
	font-family: century gothic;
	font-size: 27%;
	padding: 2%;
	color: white;
}

#frame-107 .task-exercise .table
{
	width: 80%;
	height: 60%;
	position: relative;
	top: 7%;
	left: 10%;
}

#frame-107 .task-exercise .table .row
{
	width: 100%;
	height: 25%;
}

#frame-107 .task-exercise .table .row .data
{
	width: 20%;
	height: 100%;
	border: 3px solid black;
	float: left;
	background-color: white;
	font-family: century gothic;
	font-size: 25%;
	font-weight: bold;
	text-align: center;
	padding: 1%;
	padding-top: 4%;
}

#frame-107 .answerfield
{
	position: relative;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	font-family: century gothic;
	text-align: center;
	font-weight: bold;
	border: none;
}

#frame-107 .task-exercise .drag-n-drop-task
{
	position: absolute;
	width: 100%;
	height: auto;
	font-family: century gothic;
	font-size: 25%;
	color: white;
	left: 0%;
	text-align: center;
	top: 76%;
	padding: 1%;
	font-weight: bold;
}

#frame-107 .ball
{
	width: 20%;
	height: 7%;
	position: absolute;
	top: 92%;
	font-weight: bold;
	border: 1px solid white;
	text-align: center;
	font-family: century gothic;
	font-size: 25%;
	color: white;
	background-color: #0099CC;
}

#frame-107 .ball-1 { left: 10%;}
#frame-107 .ball-2 { left: 35%;}
#frame-107 .ball-3 { left: 60%;}

#frame-107 .basket
{
	display: inline-block;
	width: 20%;
	height: 1.5em;
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: center;
	font-family: century gothic;
	color: white;
}

#frame-107 .result
{
	width: 30%;
	height: auto;
	padding: 1%;
	left: 40%;
	top: 88%;
	color: white;
	font-size: 25%;
	font-family: Verdana;
	position: absolute;
	font-weight: bold;
	text-align: center;
	border-radius: 28px;
}

#frame-107 .result-correct
{
	color: #FFFFFF;
	background-color: #3093c7; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

#frame-107 .result-false
{
	color: #FFFFFF;
	background-color: #a90329; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
	background-image: -moz-linear-gradient(top, #a90329, #6d0019);
	background-image: -ms-linear-gradient(top, #a90329, #6d0019);
	background-image: -o-linear-gradient(top, #a90329, #6d0019);
	background-image: linear-gradient(to bottom, #a90329, #6d0019);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

#frame-107 .check-button
{
	width: 15%;
	height: 8%;
	padding: 1%;
	left: 75%;
	top: 90%;
	color: white;
	font-size: 25%;
	font-family: Verdana;
	position: absolute;
	font-weight: bold;
	text-align: center;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}

#frame-107 .check-button:hover
{
	border: 3px solid white;	
}


/*FRAME 108*/
#frame-108
{
	background-image: url(../pics/s5-task-bg-4.png);
}

#frame-108 .task-exercise
{
	width: 55%;
	height: 75%;
	position: absolute;
	left: 40%;
	top: 20%;
	background-color: #1C6487;
	border: 3px solid black;
	border-radius: 20px;
}

#frame-108 .task-exercise .question
{
	width: 100%;
	height: 8%;
	font-size: 25%;
	font-weight: bold;
	position: relative;
	color: white;
	font-family: century gothic;
	padding: 1%;
	margin-top: 0.5em;
}

#frame-108 .task-exercise .answer, #frame-108 .task-exercise .check-answer
{
	cursor: pointer;
	color: white;
	font-family: century gothic;
	font-size: 23%;
	padding-left: 1%;
	height: 1.5em;
}

#frame-108 .task-exercise .answer:hover
{
	font-weight: bold;
}

#frame-108 .result
{
	width: 15%;
	height: auto;
	padding: 1%;
	left: 70%;
	top: 70%;
	color: white;
	font-size: 25%;
	font-family: Verdana;
	position: absolute;
	font-weight: bold;
	text-align: center;
	border-radius: 28px;
}

#frame-108 .result-correct
{
	color: #FFFFFF;
	background-color: #3093c7; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

#frame-108 .result-false
{
	color: #FFFFFF;
	background-color: #a90329; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
	background-image: -moz-linear-gradient(top, #a90329, #6d0019);
	background-image: -ms-linear-gradient(top, #a90329, #6d0019);
	background-image: -o-linear-gradient(top, #a90329, #6d0019);
	background-image: linear-gradient(to bottom, #a90329, #6d0019);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

#frame-108 .check-button
{
	width: 15%;
	height: 7%;
	padding: 1%;
	left: 83%;
	top: 88%;
	color: white;
	font-family: century gothic;
	position: absolute;
	font-weight: bold;
	font-size: 25%;
	text-align: center;
	background: #3498db;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}

#frame-108 .check-button:hover
{
	border: 3px solid white;	
}

/*FRAME 109*/

#frame-109
{
	background-image: url(../pics/s9-bg.png);
}

#frame-109 .s9-tuzdybas
{
	background: transparent url('../pics/s9-tuzdybas.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.4%;
	top: 2.8%;
	width: 34.6%;
	height: 30.1%;
}

#frame-109 .tuzdybas-label
{
	width: 20%;
	height: 10%;
	position: absolute;
	top: 34%;
	left: 3.4%;
	border: 3px solid black;
	background-color: white;
	padding: 0.7%;
	border-radius: 20px;
	font-family: century gothic;
	font-weight: bold;
	font-size: 25%;
	text-align: center;
}

#frame-109 .s9-yuchen
{
	background: transparent url('../pics/s9-yuchen.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 2.9%;
	top: 50.3%;
	width: 35.1%;
	height: 35.2%;
}

#frame-109 .yuchen-label
{
	width: 20%;
	height: 10%;
	position: absolute;
	top: 87%;
	left: 2.9%;
	border: 3px solid black;
	background-color: white;
	padding: 0.7%;
	border-radius: 20px;
	font-family: century gothic;
	font-weight: bold;
	font-size: 25%;
	text-align: center;
}

#frame-109 .text-container
{
	width: 50%;
	height: 70%;
	position: absolute;
	left: 45%;
	top: 20%;
	border: 3px solid black;
	background-color: white;
	padding: 2%;
	font-family: century gothic;
	font-size: 23%;
	border-radius: 20px;
}

/*TESTS*/

#frame-301
{
	background-image: url(../pics/s9-bg.png);
}

#frame-301 .task-graph
{
	background-image: url(../pics/graph.png);
}

#frame-301 .test-label
{
	width: 10%;
	height: 7%;
	position: absolute;
	border: 4px solid #FF6E00;
	border-radius: 20px;
	padding: 1%;
	left: 45%;
	top: 2%;
	background-color: #FFC700;
	text-align: center;
	font-weight: bold;
	font-size: 25%;
	font-family: century gothic;
}

#frame-301 .answer
{
	cursor: pointer;
}

#frame-301 .bold
{
	font-weight: bold;
}

#frame-301 .answer:hover
{
	font-weight: bold;	
}

#frame-301 .question
{
	font-weight: bold;
}

#frame-301 .task
{
	font-size: 23%;
	color: black;
	font-family: Verdana;
	padding: 1%;
	position: absolute;
	border-radius: 10px;
	background-color: white;
	border: 2px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	o-border-radius: 10px;
	ms-border-radius: 10px;
}

#frame-301 .result
{
	left: 20%;
	top: 80%;
	width: 33.75%;
	height: auto;
	padding: 1%;
	color: white;
	font-size: 25%;
	font-family: Verdana;
	position: absolute;
	font-weight: bold;
	text-align: center;
	border-radius: 28px;
}

#frame-301 .result-correct
{
	color: #FFFFFF;
	background-color: #3093c7; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

#frame-301 .result-false
{
	color: #FFFFFF;
	background-color: #a90329; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
	background-image: -moz-linear-gradient(top, #a90329, #6d0019);
	background-image: -ms-linear-gradient(top, #a90329, #6d0019);
	background-image: -o-linear-gradient(top, #a90329, #6d0019);
	background-image: linear-gradient(to bottom, #a90329, #6d0019);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

/* line 139, ../sass/helper.sass */
#frame-301 .task-1 {
  left: 64.4%;
  top: 18.8%;
  width: 33.75%;
  height: 27.3%;
}

/* line 142, ../sass/helper.sass */
#frame-301 .task-2 {
  left: 64.4%;
  top: 46.8%;
  width: 33.75%;
  height: 22.3%;
}

/* line 145, ../sass/helper.sass */
#frame-301 .task-3 {
  left: 64.4%;
  top: 71.8%;
  width: 33.75%;
  height: 22.3%;
}

/* line 139, ../sass/helper.sass */
#frame-301 .task-4 {
  left: 64.4%;
  top: 18.8%;
  width: 33.75%;
  height: 22.3%;
}

/* line 142, ../sass/helper.sass */
#frame-301 .task-5 {
  left: 64.4%;
  top: 43.8%;
  width: 33.75%;
  height: 22.3%;
}

#frame-301 .next-task-button, #frame-301 .check-button
{
	width: 15%;
	height: 7%;
	border-radius: 20px;
	position: absolute;
	left: 30%;
	top: 90%;
	border: 2px solid white;
	font-family: century gothic;
	font-size: 27%;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 1%;
	background-color: #32689B;
	z-index: 10;
}

#frame-301 .prev-task-button
{
	width: 15%;
	height: 7%;
	border-radius: 20px;
	position: absolute;
	left: 13%;
	top: 90%;
	border: 2px solid white;
	font-family: century gothic;
	font-size: 27%;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 1%;
	background-color: #32689B;
	z-index: 10;
}

#frame-301 .next-task-button:hover, #frame-301 .check-button:hover, #frame-301 .prev-task-button:hover
{
	background-color: white;
	color: #32689B;
}

/*FACTS*/

.facts, #frame-501
{
	background-image: url(../pics/facts-bg.png);
}

.facts .title
{
	width: auto;
	height: 10%;
	position: absolute;
	left: 30%;
	top: 3%;
	border: 3px solid #FF6700;
	border-radius: 20px;
	font-family: century gothic;
	color: black;
	font-weight: bold;
	font-size: 30%;
	text-align: center;
	background-color: #FFCC00;
	padding: 1%;
}

.facts .intro
{
	width: auto;
	height: 10%;
	position: absolute;
	left: 30%;
	top: 15%;
	border: 3px solid #FF6700;
	border-radius: 20px;
	font-family: century gothic;
	color: black;
	font-size: 25%;
	text-align: left;
	background-color: white;
	padding: 1%;
}

.facts .text
{
	width: 67%;
	height: auto;
	position: absolute;
	left: 30%;
	top: 28%;
	border: 3px solid black;
	border-radius: 20px;
	font-family: century gothic;
	color: white;
	text-align: left;
	background-color: #32689B;
	padding: 1%;
}

.fact-1 .text
{
	font-size: 20%;
}

.fact-2 .text
{
	font-size: 30%;
}

.fact-3 .text
{
	font-size: 32%;
}

.fact-4 .text
{
	font-size: 30%;
}

.facts .facts-prev, .facts .facts-next, .facts .facts-home
{
	width: 10%;
	height: 6%;
	position: absolute;
	font-size: 25%;
	cursor: pointer;
	font-family: century gothic;
	text-align: center;
	border-radius: 20px;
	padding: 0.7%;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
	background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
	background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
	background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
	background-image: -o-linear-gradient(top, #d3d3d3, #707070);
	background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.facts .facts-prev { left: 70%; top: 5%;}
.facts .facts-next, .facts .facts-home { left: 85%; top: 5%;}

.facts .facts-prev:hover, .facts .facts-next:hover, .facts .facts-home:hover
{
	border: 1px solid white;
}

/*RESEARCH*/

#frame-401
{
	background-image: url(../pics/s1-bg.png);
}

#frame-401 .title
{
	width: 20%;
	height: 10%;
	position: absolute;
	left: 40%;
	top: 3%;
	border: 5px solid #F76720;
	background-color: #FECD08;
	color: black;
	text-align: center;
	font-family: century gothic;
	font-weight: bold;
	padding: 1%;
	border-radius: 20px;
	font-size: 25%;
}

#frame-401 .task
{
	width: 25%;
	height: auto;
	position: absolute;
	left: 70%;
	top: 10%;
	border: 3px solid black;
	background-color: #33689B;
	font-family: century gothic;
	border-radius: 20px;
	color: white;
	font-size: 23%;
	padding: 1%;
	text-align: left;
}

#frame-401 .clams
{
	width: 20%;
	height: 13%;
	background-image: url(../pics/clams.png);
	background-size: 300% 100%;
	left: 30%;
	top: 25%;
}

#frame-401 .glass-2
{
	width: 8%;
	height: 24%;
	background-image: url(../pics/glass-2.png);
	background-size: 300% 100%;
	left: 50%;
	top: 47%;
}

#frame-401 .scales
{
	width: 30%;
	height: 60%;
	background-image: url(../pics/scales.png);
	background-size: 100% 100%;
	left: 38%;
	top: 37%;
}

#frame-401 .scales-30
{
	width: 30%;
	height: 60%;
	background-image: url(../pics/scales-30.png);
	background-size: 100% 100%;
	left: 38%;
	top: 37%;
}
#frame-401 .scales-60
{
	width: 30%;
	height: 60%;
	background-image: url(../pics/scales-60.png);
	background-size: 100% 100%;
	left: 38%;
	top: 37%;
}

#frame-401 .spatula
{
	width: 18%;
	height: 38%;
	background-image: url(../pics/spatula.png);
	background-size: 100% 100%;
	top: 50%;
	left: 80%;
}

#frame-401 .stand
{
	width: 25%;
	height: 50%;
	background-image: url(../pics/stand.png);
	background-size: 600% 100%;
	left: 2%;
	top: 45%;
}

#frame-401 .steam
{
	width: 25%;
	height: 50%;
	background-image: url(../pics/steam.png);
	background-size: 200% 100%;
	left: 2%;
	top: 45%;
}

#frame-401 .burner, #frame-401 .flame-animated, #frame-401 .light
{
	width: 13%;
	height: 26%;
	top: 68%;
	left: 13%
}

#frame-401 .burner
{
	background-image: url(../pics/burner.png);
	background-size: 100% 100%;
}

#frame-401 .flame-animated
{
	background-image: url(../pics/flame-animated.gif);
	background-size: 100% 100%;
}

#frame-401 .light
{
	background-image: url(../pics/light.png);
	background-size: 100% 100%;
}

#frame-401 .match
{
	width: 8%;
	height: 10%;
	left: 50%;
	top: 20%;
	background-image: url(../pics/match.png);
	background-size: 100% 100%;
}

#frame-401 .item
{
	position: absolute;
	border-radius: 20%;
}

#frame-401 .result-label
{
	width: 25%;
	height: 7%;
	padding: 1%;
	left: 37%;
	top: 90%;
	font-family: century gothic;
	font-size: 25%;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: #33689B;
	border: 3px solid black;
}

/*RESOURCES*/
#frame-501 .text li
{
	margin-left: 4%;
}

#frame-501 a
{
	text-decoration: none;
	color: white;
}

#frame-501 a:hover
{
	color: blue;
	text-decoration: underline;
}

#frame-501
{
	font-size: 40%;
}

#frame-501 .title
{
	font-size: 100%;
	border-radius: 20px;
	position: absolute;
	left: 45%;
	top: 10%;
	color: white;
	font-weight: bold;
}

#frame-501 .text
{
	border-radius: 20px;
	position: absolute;
	left: 25%;
	top: 30%;
	color: white;
}
	